
{% extends 'base.html' %}
{% load static %}

{% block content %}

{#<h2>SEARCH</h2>#}
{#<div class="container-fluid">#}
{#    <div class="card">#}
{#        <div class="card-body">#}
{#            This is some text within a card body.#}
{#        </div>#}
{#    </div>#}
{#</div>#}

    <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active">Search Listings</li>
        </ol>
      </nav>
    </div>
  </section>

<br>
<div class="container-fluid">
    <form action="{% url 'search' %}">
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" placeholder="Keyword (Tag or part of tag)" name="keywords" value="{{ values.keywords }}">
                    <label for="floatingInputGrid">Keywords</label>
                </div>
            </div>


            <div class="col-md">
                <div class="form-floating">
                    <select name="block" class="form-select" id="floatingSelectGrid">
{#                        <option selected="true" disabled="disabled">Block (All)</option>#}
                        <option value="">Block (All)</option>
                        {% for key, value in blocks_choices.items %}
                        <option value="{{ key }}"
                                {% if key == values.block %}
                                    selected
                                {% endif %}
                        >{{ value }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelectGrid">Select Block</label>
                </div>
            </div>


            <div class="col-md">
                <div class="form-floating">
                    <select name="type" class="form-select" id="floatingSelectGrid">
{#                        <option selected="true" disabled="disabled">Block (All)</option>#}
                        <option value="">Type (All)</option>
                        {% for key, value in types_choices.items %}
                        <option value="{{ key }}"
                                {% if key == values.type %}
                                    selected
                                {% endif %}
                        >{{ value }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelectGrid">Select Type</label>
                </div>
            </div>

            <div class="col-md">
                <div class="form-floating">
                    <select name="special_type" class="form-select" id="floatingSelectGrid">
{#                        <option selected="true" disabled="disabled">Block (All)</option>#}
                        <option value="">Special Type (All)</option>
                        {% for key, value in special_types_choices.items %}
                        <option value="{{ key }}"
                                {% if key == values.special_type %}
                                    selected
                                {% endif %}
                        >{{ value }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelectGrid">Select Special Type</label>
                </div>
            </div>


            <div class="col-md">
                <div class="form-floating">
                    <select name="units" class="form-select" id="floatingSelectGrid">
{#                        <option selected="true" disabled="disabled">Block (All)</option>#}
                        <option value="">Measure Unit (All)</option>
                        {% for key, value in measure_units_choices.items %}
                        <option value="{{ key }}"
                                {% if key == values.measure_units %}
                                    selected
                                {% endif %}
                        >{{ value }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelectGrid">Select Meas. Unit</label>
                </div>
            </div>


            <div class="col-md">
                <div class="form-floating">
                    <select name="realtor" class="form-select" id="floatingSelectGrid">
{#                        <option selected="true" disabled="disabled">Block (All)</option>#}
                        <option value="">Realtor (All)</option>
                        {% for key, value in realtors_choices.items %}
                        <option value="{{ key }}"
                                {% if key == values.realtor %}
                                    selected
                                {% endif %}
                        >{{ value }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelectGrid">Select Realtor</label>
                </div>
            </div>

            <div class="col-md">
                <div class="form-floating">
                    <select name="unit" class="form-select" id="floatingSelectGrid">
                        <option value="">Units (All)</option>
                            {% for key, value in units_choices.items %}
                                <option value="{{ key }}"
                                    {% if key == values.unit %}
                                    selected
                                    {% endif %}
                                >{{ value }}</option>
                            {% endfor %}
                    </select>
                    <label for="floatingSelectGrid">Select Unit</label>
                </div>
            </div>

            <div class="col-md">
                <div class="form-floating">
                    <select name="is_active" class="form-select" id="floatingSelectGrid">
                        <option value="">IS ACTIVE (All)</option>
                            {% for key, value in is_active_choices.items %}
                                <option value="{{ key }}"
                                    {% if key == values.is_active %}
                                    selected
                                    {% endif %}
                                >{{ value }}</option>
                            {% endfor %}
                    </select>
                    <label for="floatingSelectGrid">ACTIVE (True/False)</label>
                </div>
            </div>

            <div class="col-md">
                <div class="form-floating">
                    <select name="interval" class="form-select" id="floatingSelectGrid">
                        <option value="">INTERVAL (All)</option>
                            {% for key, value in intervals_choices.items %}
                                <option value="{{ key }}"
                                    {% if key == values.interval %}
                                    selected
                                    {% endif %}
                                >{{ value }}</option>
                            {% endfor %}
                    </select>
                    <label for="floatingSelectGrid">Interval </label>
                </div>
            </div>


        </div>

    <br>
    <h5>Dates Search/Filters</h5>

{#    Second Row of Search / Filters#}
    <div class="row g-2">

        <div class="col-md">
            <div class="form-floating">
                <input type="date" class="form-control" id="floatingInputGrid" placeholder="" name="last_checked_from" value="{{ values.last_checked_from }}">
                <label for="floatingSelectGrid">Last Checked FROM:</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating">
                <input type="date" class="form-control" id="floatingInputGrid" placeholder="" name="last_checked_to" value="{{ values.last_checked_to }}">
                <label for="floatingSelectGrid">Last Checked TO:</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating">
                <input type="date" class="form-control" id="floatingInputGrid" placeholder="" name="next_check_from" value="{{ values.next_check_from }}">
                <label for="floatingSelectGrid">Next Check FROM:</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating">
                <input type="date" class="form-control" id="floatingInputGrid" placeholder="" name="next_check_to" value="{{ values.next_check_to }}">
                <label for="floatingSelectGrid">Next Check TO:</label>
            </div>
        </div>
    </div>
        <br>
        <button class="btn btn-primary" type="submit">Search / Filter</button>
    </form>
</div>
    <br>

 <!-- My table -->
    <div class="container-fluid">
        <!-- Content here -->
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">UNIT</th>
                    <th scope="col">BLOCK</th>
                    <th scope="col">TAG</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">TYPE</th>
                    <th scope="col">SPECIAL TYPE</th>
                    <th scope="col">LRV</th>
                    <th scope="col">URV</th>
                    <th scope="col">UNITS</th>
                    <th scope="col">IS_ACTIVE</th>
                    <th scope="col">REALTOR</th>
                    <th scope="col">LAST CHECKED</th>
                    <th scope="col">INTERVAL</th>
                    <th scope="col">NEXT CHECK</th>
                    <th scope="col">DETAILS</th>
                </tr>
            </thead>

            <tbody>
            {% if listings %}
            {% for listing in listings %}
                    <tr class="table-light">
{#                      <th scope="row">{{ listing.id }}</th>#}
                        <td>{{ listing.id }}</td>
                        <td>{{ listing.unit }}</td>
                        <td>{{ listing.block }}</td>
                        <td>{{ listing.tag }}</td>
                        <td>{{ listing.description }}</td>
                        <td>{{ listing.type }}</td>
                        <td>{{ listing.special_type }}</td>
                        <td>{{ listing.lrv }}</td>
                        <td>{{ listing.urv }}</td>
                        <td>{{ listing.units }}</td>
{#                        <td>{{ listing.is_active }}</td>#}
                        <td>
                            {% if listing.is_active %}
                                <span class="">✔</span>
                            {% else %}
                                <span class="">✘</span>
                            {% endif %}
                        </td>
                        <td>{{ listing.realtor }}</td>
                        <td>{{ listing.last_checked }}</td>
                        <td>{{ listing.interval }}</td>
                        <td> {{ listing.next_check }}</td>
{#                        <td style="font-weight: bold;#}
{#                                   text-align: right;#}
{#                                   background-color: rgba(234,209,143,0.99);#}
{#                                   color: white;">{{ listing.next_check }}</td>#}
                        <td><a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">Details</a></td>
                    </tr>
            {% endfor %}
        {% else %}
            <p>No listings</p>
        {% endif %}
            </tbody>

        </table>
    </div>


<!-- pagination -->
    <div class="row">
        <div class="col-md-12">
            {% if listings.has_other_pages %}
              <ul class="pagination">
                {% if listings.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ listings.previous_page_number }}" class="page-link">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                {% endif %}
                {% for i in listings.paginator.page_range %}
                    {% if listings.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if listings.has_next %}
                    <li class="page-item">
                        <a href="?page={{ listings.next_page_number }}" class="page-link">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
      </div>


{% endblock %}

